::placeholder {
    color: white;
    opacity: 0.5;
}
input {
    padding: 0 20px;
}
#signin {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.5s;

}
.enable:hover {
    background-color: aqua;
    cursor: pointer;
}

.enable:active {
    box-shadow: none;
}
.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 10px;
    transition: background-color 0.5s;

}
.enable {
    background-color: #c4dfe6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.disable {
    box-shadow: 0 0 10px;
    background-color: #88898a;
}