* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
input {
    outline: none;
    padding-left: 10px;
}
.test {
    border: 1px solid red;
}
.test2 {
    border: 1px solid blue;
}
#home {
    display: flex;
    justify-content: space-between;
}
button:hover {
    cursor: pointer;
    background-color: green;
}
input {
    border-radius: 7px;
}
.canclick {
    transition: background-color 0.25s;
}
.canclick:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.432);
}
.canclick2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.canclick3 {
    cursor: pointer;
}
.cantclick:hover {
    cursor: not-allowed;
}
#Login input {
    border: 2px solid gray
}
#Login input:focus {
    border: 2px solid green;
    outline: none;
}
#NavBar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    border-bottom: 1px solid #393a3b; 
    z-index: 10;
}
.circle0 {
    background-color: rgb(226, 224, 224);
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 100%;
}
.circle1 {
    background-color: rgb(226, 224, 224);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;
}
.circle2 {
    background-color: rgb(226, 224, 224);
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 100%;
}
.circle3 {
    border: 1px solid black;
    background-color: rgb(226, 224, 224);
    width: 168px;
    height: 168px;
    min-width: 168px;
    min-height: 168px;
    border-radius: 100%;
}
.icon0 {
    width: 20px;
    height: 20px;
    
    
}
.searchfield {
    height: 80%;
    margin: 1px 0;
    border-radius: 25px;
    outline: none;
    text-indent: 10px; 
}
.color1 {
    background-color: #003b46;
}
.color2 {
    background-color: #07575b;
}
.color3 {
    background-color: #66a5ad;
}
.color4 {
    background-color: #c4dfe6;
}
#NavMid {
    width: 680px;
    display: flex;
    justify-content: space-around;
}
/* customize scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c4dfe6; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #548aee; 
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #003b46; 
    display: block;
}
html {
    background-color: #07575b;
}
@media only screen and (max-width: 1100px) {
    .left {
        display: none;
    }
    #home {
        justify-content: center;
    }
    #NavMid {
        width: 40%;
    }
}
@media only screen and (max-width: 1000px) {
    .collapse1000 {
        display: none;
    }
}
@media only screen and (max-width: 830px) {
    .right {
        display: none;
    }
    .collapse830 {
        display: none;
    }
}
@media only screen and (max-width: 730px) {
    #NavMid {display: none}
}